.hotel-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: auto;
  max-height: 600px;
  overflow:scroll
}

.hotel-card-image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.hotel-card-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  overflow-y: auto;
}

.hotel-card-name {
  font-size: 1.5em;
  margin: 0;
  color: #333;
  font-weight: bold;
}

.hotel-card-address {
  color: #777;
  margin-top: 8px;
  font-size: 0.3rem;
  font-style: italic;
}

.hotel-card-stars {
  color: #f39c12;
  margin: 0;
  margin-top: 10px;
}

.star-icon {
  margin-right: 3px;
  font-size: 1.2em;
}

.hotel-card-description {
  color: #555;
  margin-top: 12px;
  font-size: 0.6em;
  max-height: 100px;
}

.hotel-card-highlights {
  margin-top: -20px;
  flex-grow: 1;
  max-height: 150px;
  overflow-y: auto;
}

.hotel-card-highlights h4 {
  font-weight: bold;
  color: #333;
}

.hotel-card-highlights ul {
  margin-top: -10px;
  list-style-type: disc;
  margin-left: 20px;
  color: #555;
}

.hotel-card-highlights li {
  font-size: 0.9em;
  margin-bottom: 5px;
}