.header {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.header-images {
  display: flex;
  justify-content: center;
}

.header-images img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}