
.navbar {
  position: relative;
  z-index: 10;
}

.homepage-header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centers the text horizontally */
}


.homepage-header img {
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image fills its container */
  display: block; /* Remove any inline spacing issues */
  position: relative; /* Contain the image within the header */
  z-index: 0; /* Ensure it doesn't interfere with other elements */
  width: 100%;
}

.homepage header p {
  max-width: 800px; /* Optional: limits the width of the paragraph */
  line-height: 1.8;
  font-size: 18px;
  text-align: center; /* Ensures the text is centered */
  word-wrap: break-word; /* Ensures long words wrap to the next line */
}

.homepage header h1 {
  text-align: center;
}