.logged-in {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  box-sizing: border-box; 
  align-content: center;
}

.logged-in p {
  max-width: 800px;
  line-height: 1.8;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}