.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
  }
  
  .signup-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  .signup-form h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333333;
    text-align: center;
  }
  
  .signup-form label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #555555;
  }
  
  .signup-form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .signup-form input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    border: #282c34;
  }
  
  .signup-form button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-form button:hover {
  background-color: #282c34;
  }
  
  .signup-form p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
  }
  
  .signup-form p.error {
    color: red;
  }
  
  .signup-form p.success {
    color: green;
  }
  